body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: Verdana, serif;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FEE715;
    color: #101820;
}

h1 {
    font-family: Monospaced, serif;
    color: #101820;
    margin: 0;
    font-size: 3em;
}

.div1 {
    margin-left: 2%;
    display: flex;
    align-items: center; /* Align items vertically in the flex container */
}

.profile-img {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Adjust margin to create space between image and text */
}

.user-profile {
    display: inline;
}

.div2 {
    margin-right: 4%;
    display: flex;
    align-items: center; /* Align items vertically in the flex container */
}

.log-out {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Adjust margin to create space between image and text */
}

.log-out-link {
    text-decoration: none;
    display: flex; /* Use flex display for the anchor element */
    align-items: center; /* Align items vertically in the flex container */
}

.log-out-button {
    color: #101820;
    text-decoration: none;
    cursor: pointer;
    display: inline;
}

.quiz-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 5% auto;
    padding: 20px;
    margin-bottom: 10%;
}

form {
    margin-top: 20px;
}

.quiz-container p {
    font-size: 18px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 1px;
    font-weight: 500;
}

input[type="radio"] {
    margin-right: 8px;
}

.btn {
    text-align: center;
    width: 92%;
    display: block;
    margin: 5% auto;
    padding: 10px 20px;
    background-color: #FEE715;
    color: #101820;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #101820;
    color: white;
}

footer {
    background-color: #101820;
    color: #FEE715;
    bottom: 0;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
}

.footer-text {
    margin: 0;
}
